<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <title>Url_Shinker</title>
</head>
<body>
    <div class="container">


        <h1>URL Shrinker</h1>

        <form action="/shorturls" method="POST" class="my-3 form-inline">
            <label for="Fullurl" class="sr-only">Full URL</label>
            <input required="url" type="url" name="Fullurl" id="fullrul">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks count</th>
                    <th>Delete URL</th>
                </tr>
            </thead>
            <tbody>
                <% shorturls.forEach(Shorturl=> {
                    %>
                    <tr>
                        <td><a href="<%= Shorturl.full %>">
                                <%= Shorturl.full%>
                            </a>
                        </td>
                        <td><a href="<%= Shorturl.short %>">
                                <%= Shorturl.short %>
                            </a></td>
                        <td>
                            <%= Shorturl.clicks %>
                        </td>

                        <td>
                    <a href="/delete/<%= Shorturl.short %>" 
                       style="color: red; font-weight:bold;">
                       Delete
                    </a>
                </td>
                    </tr>
                    <% })%>

            </tbody>
        </table>

    </div>
</body>

</html>